# Environment variables
.env
.envrc

# Python files
__pycache__/
*.egg-info/
dist/
.DS_Store
.coverage
.venv
.pytest_cache
.mypy_cache
pytest-coverage.txt

# IDE
.vscode

# Terraform
.terraform
*.tfvars
*.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
.terraform.lock.hcl

# Miscellaneous
ssh
